@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@mixin orange {
  background: #E27866;
}
* {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  box-sizing: border-box;
}